<header>
  <a class="logo-text" href='/home'><img class="logo"
                                         src="/assets/—Pngtree—samurai%20esports%20logo%20for%20mascot_4261619.png">Ninja</a>
  <ul>
    <li><a class="active" href="/home">
      <mat-icon>home</mat-icon>
    </a></li>
    <li><a href="#">
      <mat-icon>info</mat-icon>
    </a></li>
    <li><a href="/calendar">
      <mat-icon>calendar_today</mat-icon>
    </a></li>
    <li><a href="/works">
      <mat-icon>work</mat-icon>
    </a></li>
    <li><a href="/gallery">
      <mat-icon>collections</mat-icon>
    </a></li>
    <li><a href="#">
      <mat-icon>contact_support</mat-icon>
    </a></li>
  </ul>
</header>
