<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>

<section>

  <img src="assets/moon_font.png" id="ground">
  <h2 id="jungle-text" #text>Night in Jungle</h2>
  <img src="assets/mon_light.png" id="sky" #sky>
  <div id="particle-container">
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
  </div>
</section>
<div class="sec" id="sec">
  <h2>
    Parallax Scrolling Effects
  </h2>
  <p>
    Students & Writers mostly look for some questions when coming to paragraph writing about any topic or thing or
    person. The questions raised by most of the students while thinking about writing a paragraph are Paragraph Writing
    Examples, What is the perfect paragraph format? How many steps involved to write a paragraph? How to write a good
    paragraph? How many sentences are included in a para? and many more like these.

    By keeping all these questions in our mind today we have come up with a new topic called “A Guide on Paragraph
    Writing”. With this guide, we’ll try to answer all these questions about paragraph writing. Paragraphs act as the
    main role in a student’s life. While writing any topic in an exam or competition needs paras to explain the concept
    in an understandable way for the readers.

    For grabbing the attention of readers, it’s compulsory to write a succinct paragraph by including all the elements.
    So, to make it easy and simple to understand by the students, let’s start learning more about paragraph writing
    skills by referring below modules.<br><br>

    Need some examples on paragraph writing then this is the right place for kids and students who are really excited to
    learn paragraph skills. Here, we have listed a paragraph writing topics on different events such as Paragraph On
    Environment, Paragraph On Animals like tiger, etc., Paragraph On Christmas, Diwali, Dusshera, and other festivals,
    Paragraph On Global Warming, save water, save trees, Paragraph On Child Labour, Paragraph On Sports, Paragraph On
    Health And Fitness, Paragraph On APJ Abdul Kalam, and many more on technology too. So, don’t waste your time just
    practice one by one with the help of these topics & improve your skills of paragraph writing.<br><br>

    A series of sentences that are organized and coherent, and are all related to a single topic is called Paragraph.
    Breaking the large sentence essay or topic into smaller pieces in a well-structured form is known as Paragraph. The
    lines that should include in a paragraph is at least three to five, not more. It includes topic sentences,
    supporting sentences as well as concluding sentences that refer to an overall structure, which is a group of
    sentences focusing on a single topic.

    Paragraph writing is not just expressing your views about the topic in a group of sentences. It is all about
    structuring ideas in a clear format to make the reader fall in love with the topic and continue their studying till
    to an end of the topic. While writing paragraphs about any topic, it’s more important to maintain the quality and
    flow of the paragraph than word count. Paragraphs are often thought of as a ‘unit’ of thought.

    Therefore, start learning how to write a good paragraph and impress your audience with your experience about the
    topic. From this page, you will come to know how to write, what to focus while writing paragraphs in a format, type
    of paragraphs, and some of the topics on Paragraph writing.

  </p>
</div>
</body>
</html>
